body {
    background: white;
}

li a {
    color: green;
}

.abc {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

.aaa {
    list-style-position: inside;
    text-align: center;
}
